body
{
	background-color:
}

.abc
{
	font-family: verdana;
	font-size: 30px;
	
	position: absolute;
	left: 540px;

}

.abhi
{
	
	border-style: inset;
	background-color:	#F8F8FF;
	position: absolute;
	left: 15px;
	
	padding-top: 20px;
	background-color: 
	padding:5px;

}

.kunal
{

	border-style: inset;
	background-color:	#F8F8FF;
	position: absolute;
	left: 15px;
	margin-top: 470px;
	padding-top: 20px;
	background-color: 
	padding:5px;

}